.git
.gitignore
.env
.env.local
.env.*.local
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
.next
out
build
dist
coverage
node_modules
.vscode
.idea
*.swp
*.swo
*~
.prettierignore
README.md
